<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>AGM Solutions - Area riservata</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <base href="/backoffice/">

    @Styles.Render("~/Content/app.css")
    
    @Scripts.Render("~/bundles/libs.js")
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/bower_components/ckeditor/ckeditor.js"></script>
    <script src="~/bower_components/ng-ckeditor/ng-ckeditor.min.js"></script>
    @Scripts.Render("~/bundles/app.js")
</head>
<body>
    <div>
        <div class="main-scroller">
            @RenderBody()
            @RenderSection("SPAViews", required: false)
        </div>
    </div>
</body>
</html>
