<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>@ViewBag.Title - AGM Solutions</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <base href="/backoffice/">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    <link href="~/Content/animate.min.css" rel="stylesheet">
    
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.1.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    
    @RenderSection("Scripts", required: false)
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.1.0/js/bootstrap-toggle.min.js"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        @*<hr />
        <footer>
            <p>AGM Solutions srl &copy; @DateTime.Now.Year - Area riservata</p>
        </footer>*@
    </div>
</body>
</html>
